html, body {
  font-size: 16px;
  color: #3A3A38;
  margin: 0;
  padding: 0;
}

/* Size content */

.content {
  margin: 2% auto 5% auto;
  width: 50rem;
}

@media only screen and (max-width: 800px) {
  .content {
    margin: 5%;
    width: 90%;
  }
}

/* Load Alegreya Sans fonts */

@font-face {
  font-family: "Alegreya Sans";
  src: url("AlegreyaSans-Regular.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("AlegreyaSans-Bold.ttf");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("AlegreyaSans-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url("AlegreyaSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

i, em, b, strong {
  font-synthesis: none;
}

::selection {
  color: #FFFFFF;
  background: #18453B;
}

h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
}

p, ul {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.alert {
  background-color: #FFFF7A;
}

.soon {
  font-size: 2rem;
}

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, #18453B, #FFFFFF);
  width: 200px;
  margin: 0;
  padding: 0;
}

/* Style content links */

/* unvisited link */
a:link {
  color:#004D99;
  text-decoration: underline;
}

/* visited link */
a:visited {
  color:#004D99;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color:#004D99;
  text-decoration: none;
}

/* selected link */
a:active {
  color:#737378;
  text-decoration: underline;
}
